/* GRID METHOD */
.section {
	display: grid;
	/* COLUMN */
	grid-template-columns: repeat(3, 1fr);
	/* grid-template-columns: 1fr 1fr 1fr; */
	/* grid-template-columns: 100px 200px 300px; */

	/* ROW */
	/* grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr); */
	gap: 20px;
	padding: 0 10px;
}

.section img {
	width: 90%;
}

@media (max-width: 769px) {
	.section {
		/* COLUMN */
		grid-template-columns: repeat(1, 1fr);

		/* ROW */
		/* grid-template-rows: repeat(1, 1fr);
		grid-template-columns: repeat(1, 1fr); */
	}
}
