.section {
	max-width: 800px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
}

.section img {
	width: 90%;
}

@media (max-width: 769px) {
	/* MAIN */
	.section {
		grid-template-columns: repeat(1, 1fr);
		place-items: center;
	}
}
