body {
	margin: 0;
}

/* MAIN */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Stilen til hvordan det ser ut med grid finner du i grid.css filen */

/* Stilen til hvordan det ser ut med flex finner du i flex.css filen */
