body {
	margin: 0;
}

/* HEADER */
.header {
	background-color: lightcoral;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ul {
	display: flex;
	flex-direction: row;
	gap: 0.5em;

	list-style-type: none;
}

/* MAIN */
.main {
	min-height: 100vh;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 100%;
}

.reverse {
	display: flex;
	flex-direction: row-reverse;
}

.div {
	min-width: 50%;
}

.img {
	max-height: 100vh;
	min-width: 50%;
}

@media (max-width: 769px) {
	/* HEADER */
	.header {
		background-color: lightskyblue;
	}

	.ul {
		flex-direction: column;
	}

	/* MAIN */
	.section {
		flex-direction: column;
	}
}
